<div>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name of the Patient</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
 
        <p>Patient Type :</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Pregnant Women
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Children(0-5 years)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              General Patient
            </label>
          </div>

          <p>Sex :</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault5">
            <label class="form-check-label" for="flexRadioDefault5">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              Others
            </label>
          </div>

        <div class="form-group">
          <label for="phone_number">Phone Number:</label>
          <input type="number" class="form-control" id="phone_number" placeholder="Enter Phone Number">
        </div>

        <div class="form-group">
            <label for="age">Age (In years):</label>
            <input type="number" class="form-control" id="age" placeholder="Enter Age">
          </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <textarea rows="4" cols="50" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Enter Address"></textarea>
        </div>  

        <p>Whether ABHA id created?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="abha_id" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              Yes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="abha_id" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              No
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="abha_id" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              Aready exist
            </label>
        </div>

        <div class="form-group">
            <label for="phone_number">Please mention (ABHA ID):</label>
            <input type="number" class="form-control" id="abha_id" placeholder="Enter ABHA ID">
        </div>

        <div class="form-group">
            <label for="phone_number">Height (in cm):</label>
            <input type="number" class="form-control" id="height" placeholder="Height">
        </div>

        <div class="form-group">
            <label for="phone_number">Weight (in kg):</label>
            <input type="number" class="form-control" id="weight" placeholder="Weight">
        </div>

        <div class="form-group">
            <label for="phone_number">BP(systolic):</label>
            <input type="number" class="form-control" id="systolic" placeholder="">
        </div>

        <div class="form-group">
            <label for="phone_number">BP(diastolic):</label>
            <input type="number" class="form-control" id="diastolic" placeholder="">
        </div>

        <p>Whether patient is identified as Hypertensive?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hypertensive" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              yes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="hypertensive" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              No
            </label>
        </div>

        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
